<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikari Server Launcher - 主页</title>
    <script src="https://cdn.jsdelivr.net/npm/js-circle-progress/dist/circle-progress.min.js" type="module"></script>
    <link rel="stylesheet" href="static/style/style.css">
</head>
<body>
    <!-- 顶部导航栏 -->
    <nav class="navbar">
        <ul>
            <li class="active">主页</li>
            <li>下载</li>
            <li>设置</li>
            <li>关于</li>
        </ul>
    </nav>

    <!-- 中间内容区 -->
    <div class="content">
        <h1 class="title" id="title">Hikari Server Launcher</h1>
        <p id="status" class="status">正在连接状态服务...</p>
        
        <div class="charts">
            <div class="chart">
                <circle-progress id="cpu" value="0" max="100"></circle-progress>
                <p>CPU(%)</p>
            </div>
            <div class="chart">
                <circle-progress id="memory" value="0" max="100"></circle-progress>
                <p>内存(MB)</p>
            </div>
            <div class="chart">
                <circle-progress id="disk" value="0" max="100"></circle-progress>
                <p>硬盘(GB)</p>
            </div>
        </div>
        
    </div>

    <!-- 底部版权信息 -->
    <footer class="footer">
        <p>Copyright © 2024 Hikari Server Launcher</p>
        <p id="version">正在瞅一眼是否有新版本...</p>
    </footer>

    <script>
        function getRandomColor() {
            var letters = "0123456789ABCDEF";
            var color = "#";
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        
        var ws_status = new WebSocket("ws://" + location.host + "/ws/status");
        ws_status.onmessage = function(event) {
            document.getElementById("title").style.background = "-webkit-linear-gradient("+getRandomColor()+","+getRandomColor()+")";
            document.getElementById("title").style.webkitBackgroundClip = "text";
            document.getElementById("status").innerText = "状态服务 已连接";
            const data = JSON.parse(event.data);
            document.getElementById("cpu").setAttribute("value", data.cpu_percent);
            document.getElementById("memory").setAttribute("max", data.memory);
            document.getElementById("memory").setAttribute("value", data.memory_used);
            document.getElementById("disk").setAttribute("max", data.disk);
            document.getElementById("disk").setAttribute("value", data.disk_used);
            if (data.outdated) {

                document.getElementById("version").innerText = "Hikari Server Launcher 有新版本，请及时更新！";
            } else {
                document.getElementById("version").innerText = "当前版本为最新版本！";
            }
        };
    </script>
</body>
</html>
